# Données lourdes
Data_Beta_Pic.npy
Data_tabulated/

# Fichiers générés par Quarto
.quarto/
Plots_spectra.html
Plots_spectra.ipynb
Plots_spectra.quarto_ipynb
Plots_spectra_files/
*.quarto_ipynb*

# Environnement virtuel Python
env_spectral_analysis/

# Python
__pycache__/
*.pyc
*.pyo